.block-container {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-top: 0 !important;
}

header[data-testid="stHeader"] {
  display: none;
}

.ticker-wrap {
  width: 100%;
  background-color: #0e1117;
  overflow: hidden;
  padding: 10px 0;
  display: flex;
}

.ticker-move {
  display: flex;
  min-width: 100%;
  animation: ticker-animation 15s linear infinite;
}

.ticker-item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;
  padding-right: 20px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

@keyframes ticker-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.big-font-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.big-font-table th {
  font-size: 15px;
  height: 50px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none !important;
  border-right: none !important;
}

.big-font-table td {
  position: relative;
  font-size: 15px;
  padding: 5px;
  height: 65px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  text-align: center;
  border-left: none !important;
  border-right: none !important;
}
.big-font-table tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sub-container {
  background-color: #13172200;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #2a2e39;
}

.metric-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.metric-card {
  background-color: #1e222d17;
  border: 1px solid #2a2e39;
  border-radius: 8px;
  padding: 8px;
  flex: 1;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.metric-title {
  color: #8b949e;
  font-size: 13px;
  margin-bottom: 3px;
}

.metric-value {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.metric-delta-pos {
  color: #29f075;
  font-size: 13px;
}

.metric-delta-neg {
  color: #cc4974;
  font-size: 13px;
}
